.heroSection{
    position: relative;
    height: 100dvh;
    width: 100dvw;
    overflow-x: hidden;
}

.videoFrame{
    position: relative;
    z-index: 10;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: var(--blue-75);
}

.mask_clip_path{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    width: 16rem;
    height: 16rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0.5rem;
}

.miniVideo{
    transform-origin: center;
    transform: scale(0.5);
    opacity: 0;
    transition: all 0.5s ease-in;
}

.miniVideo:hover{
    transform: scale(1);
    opacity: 1;
}

.video{
    width: 16rem;
    height: 16rem;
    transform-origin: center;
    transform: scale(1.5);
    object-fit: cover;
    object-position: center;
}

.nextVideo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 20;
    width: 16rem;
    height: 16rem;
    object-fit: cover;
    object-position: center;
}

.backgroundVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.heroBottomText{
    font-family: 'zentry-regular', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    z-index: 40;
    color: var(--blue-75);
    bottom: 1.25rem;
    right: 1.25rem;
}

.heroBelowText{
    font-family: 'zentry-regular', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    color: #000;
    bottom: 1.25rem;
    right: 1.25rem;
}

.heroTitleBox{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 40;
    width: 100%;
    height: 100%;
}

.heroHeading{
    margin-top: 6rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.heroMainHeading{
    font-family: 'zentry-regular', sans-serif;
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--blue-100);
}

.heroSubHeading{
    margin-bottom: 1.25rem;
    max-width: 16rem;
    font-family: 'robert-regular', sans-serif;
    color: var(--blue-100);
}

@media (min-width: 640px){
    .heroHeading{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

.heroButton{
    background-color: var(--yellow-300) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}